In [22]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\hp\appdata\roaming\python\python37\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\hp\appdata\roaming\python\python37\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [23]:
#For Showing all the database present in workbench
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost",user="root", passwd = "mysql")
    
    query = 'SHOW DATABASES'
    
    cursor = mydb.cursor()
    cursor.execute(query)
    res = cursor.fetchall()
    for i in res:
        print(i[0])
except Exception as e:
    mydb.close()
    print(str(0))

information_schema
mysql
performance_schema
sakila
student
sys
world

In [24]:
import mysql.connector as connection

In [25]:
conn = connection.connect(host='localhost',user='root',passwd ='mysql')

In [26]:
cur = conn.cursor()

In [27]:
cur.execute("show databases")

In [28]:
x = cur.fetchall()

In [29]:
x

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [30]:
x[1][0]

'mysql'

In [31]:
for i in x:
    print(i[0])

information_schema
mysql
performance_schema
sakila
student
sys
world

In [32]:
# for create a New Databases
import mysql.connector as connection
try:
    mydb = connection.connect(host = 'localhost',user = 'root',passwd = 'mysql')
    print(mydb.is_connected())
    query = 'CREATE DATABASE STUDENT;'
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Database Created")
    mydb.close()
except Exception as e:
    mydb.close()
    print("database not created")

True
database not created

In [33]:
# for create a new table in database
import mysql.connector as connection
try:
    mydb = connection.connect(host= "localhost",user='root',database = 'STUDENT',passwd = 'mysql')
    print(mydb.is_connected())
    
    
    query = 'CREATE TABLE StudentDetails(x1 INT(5),x2 VARCHAR(20),x3 DATE);'
    
    
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("table created in database")
    mydb.close()
except Exception as e:
    mydb.close()
    print("table is not created")

True
table is not created

In [34]:
#for inserting the data into the tables
import mysql.connector as connection
try:
    mydb = connection.connect(host='localhost',user='root',database='STUDENT',passwd='mysql')
    mydb.is_connected()
    query = "INSERT INTO StudentDetails VALUES('4561','Chetan','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4562','Chetan','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4563','Chetan','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4564','Chetan','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4565','Chetan','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4566','Parvseh','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4567','vikas','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4568','Aashish','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4569','Aakash','2021-06-30');"
    query = "INSERT INTO StudentDetails VALUES('4570','Shyam','2021-06-30');"
    cursor = mydb.cursor()
    cursor.execute(query)
    print("data enter into the table")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print("data not enter into table")

data enter into the table

In [35]:
# for fectching the data from the databases
import mysql.connector as connection
try:
    mydb = connection.connect(host='localhost',user='root',database='STUDENT',passwd='mysql')
    print(mydb.is_connected())
    query = "SELECT * FROM StudentDetails"
    cursor = mydb.cursor()
    cursor.execute(query)
    fetch = cursor.fetchall()
    for result in fetch:
        print(result[1])
    mydb.close()
except Exception as e:
    mydb.close()
    print("data not fetch")

True
Chetan
Chetan
Chetan
Chetan
Chetan
Aashish
Aakash
Shyam
Shyam
Shyam
Shyam
Shyam

In [36]:
import mysql.connector as connection
try:
    mydb = connection.connect(host='localhost',user='root',passwd='mysql')
    x = mydb.is_connected()
    query = 'SHOW DATABASES'
    cursor = mydb.cursor()
    cursor.execute(query)
    fetch = cursor.fetchall()
    for i in fetch:
        print(i[0])
    mydb.close()
except Exception as e:
    mydb.close()
    print("there is some error in query")

information_schema
mysql
performance_schema
sakila
student
sys
world

In [37]:
import pandas as pd

In [38]:
mydb

In [39]:
#read the data using Pandas library
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host='localhost',user='root',passwd='mysql',database='Student')
    
    query = 'SELECT x3,x2,x1 FROM StudentDetails;'
    result = pd.read_sql(query,mydb)
    print(result)
    mydb.close()
except Exception as e:
    print("Error in try block")

            x3       x2    x1
0   2021-06-30   Chetan  4561
1   2021-06-30   Chetan  4561
2   2021-06-30   Chetan  4564
3   2021-06-30   Chetan  4566
4   2021-06-30   Chetan  4567
5   2021-06-30  Aashish  4568
6   2021-06-30   Aakash  4569
7   2021-06-30    Shyam  4570
8   2021-06-30    Shyam  4570
9   2021-06-30    Shyam  4570
10  2021-06-30    Shyam  4570
11  2021-06-30    Shyam  4570

In [40]:
result.to_csv("mydata.csv") #Save the data into the .csv file

In [41]:
mydb = connection.connect(host='localhost',user='root',passwd='mysql',database='Student')
mydb

https://cassandra.apache.org/download/
https://www.apache.org/dyn/closer.lua/cassandra/3.11.10/apache-cassandra-3.11.10-bin.tar.gz
https://www.oracle.com/java/technologies/javase/javase8-archive-downloads.html
https://www.apache.org/dyn/closer.lua/cassandra/3.11.10/apache-cassandra-3.11.10-bin.tar.gz
https://thrift.apache.org/download
pip install cassandra-driver
conda create --name python2 python=2.7